<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style/reset.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/login.css"/>
    <script src="js/lib/jquery-1.10.2.min.js"></script>
    <script src="js/lib/vue.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/echarts.js"></script>
</head>
<body>
<div class="login" id="login">
    <div class="login_wrap">
        <form>
            <div class="fr zn_bj">
                <div class="zn_title2">用户登录</div>
                <div class="zn_form clearfix">
                    <ul style="width:320px;">
                        <li>
                            <input type="text" name="userAcct" v-model="name" id="userAcct" class="zn_ipt1"
                                   placeholder="用户名">
                        </li>

                        <li>
                            <input type="password" name="userPswd" id="userPswd" class="zn_ipt2" placeholder="密码"
                                   v-model='password' @keyup.enter='login'>
                        </li>
                        <li class="clearfix login_select">
                            <div class="fl"><input type="checkbox" id="checkbox_c1" class="chk_3"><label
                                    for="checkbox_c1"></label></div>
                            <div class="fl zn_name">记住用户名</div>
                            <div class="fr zn_name">
                                自动登录<span id="countdown">&nbsp;</span><span></span>
                            </div>
                            <div class="fr" style="padding-top: 4px;"><input type="checkbox" id="checkbox_c2"></div>
                        </li>
                        <li><input id="loginBut" type="button" class="zn_iub" data-toggle="modal" data-target="#myModal"
                                   value="登录" @click='login'></li>
                    </ul>
                </div>
            </div>
        </form>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">提示</h4>
                    </div>
                    <div class="modal-body">
                        {{msg}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>


    </div>
</div>


<script>
    new Vue({
        el: '#login',
        data: function () {
            return {
                name: '',//用户名
                password: '', //密码
                msg: '账号或密码不能为空！'
            }
        },
        methods: {
            login: function () {
                //var _this = this;
                if (this.name != '' && this.password != '') {
                    $('#loginBut').attr('data-target', 'false');
                    window.location.href = 'index.html';
                } else {
                    $('#loginBut').attr('data-target', '#myModal');
                }
            }
        },
        mounted: function () {
            $('.login').css('height', $(window).height());
        }

    });
</script>


</body>
</html>